// This file is not added to git, copy from .env.local.example
NEXT_PUBLIC_TOGETHER_AI_API_KEY=your-together-ai-api-key
# NEXT_PUBLIC_AZURE_OPENAI_API_KEY=your-azure-openai-key
# NEXT_PUBLIC_AZURE_OPENAI_ENDPOINT=your-azure-endpoint
# NEXT_PUBLIC_AZURE_OPENAI_DEPLOYMENT=your-azure-deployment-name
# NEXT_PUBLIC_GOOGLE_AI_API_KEY=your-google-api-key
# NEXT_PUBLIC_OPENAI_API_KEY=your-openai-api-key

# Set which AI provider to use: together, azure, google, openai
NEXT_PUBLIC_AI_PROVIDER=together
