.pageLayout {
    display: grid;
    grid-template-columns: 1fr auto;
    min-height: 100vh;
    position: relative;
}

.leftSidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 1000;
}

.mainContent {
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}

.rightSidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}