.AccountButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--bg-primary);
    border: none;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    position: relative;
    transition: transform var(--theme-transition-speed) var(--theme-transition-timing), 
    background-color var(--theme-transition-speed) var(--theme-transition-timing);
}

.AccountButton:hover {
    transform: scale(1.1);
    background-color: var(--color-primary-dark);
}

.Icon {
    font-weight: bold;
}

.Tooltip {
    position: absolute;
    visibility: hidden;
    width: max-content;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    font-size: 14px;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: opacity var(--theme-transition-speed) var(--theme-transition-timing),
                visibility var(--theme-transition-speed) var(--theme-transition-timing);
    z-index: 1;
}

.AccountButton:hover .Tooltip {
    visibility: visible;
    opacity: 1;
}