{% extends "allauth/layouts/base.html" %}
{% load i18n allauth %}
{% block body %}
    <div class="container">
        <div class="content-container">
            {% if messages %}
                <div class="mb-4">
                    {% for message in messages %}
                        {% element alert level=message.tags %}
                            {% slot message %}
                                {{ message }}
                            {% endslot %}
                        {% endelement %}
                    {% endfor %}
                </div>
            {% endif %}
            
            <div id="content" class="text-center">
                <h2 class="section-title">
                    {% if request.resolver_match.view_name %}
                        {% with title=request.resolver_match.view_name|title %}
                            {{ title|slice:"8:" }}
                        {% endwith %}
                    {% else %}
                        Authentication
                    {% endif %}
                </h2>
                
                <div class="auth-form">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
